header {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	box-shadow: 0px 0px 6px #dddfe1;
}
header .left-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 45px;
}

header .left-section .search-box-container {
	position: relative;
}

header .left-section .search-box-container .search-icon {
	position: absolute;
	transform: translateY(-50%);
	left: 12px;
	top: 50%;
}

header .right-section {
	cursor: pointer;
}
