table {
	width: 100%;
	border-collapse: collapse;
}
table th,
table td {
	text-align: left;
	padding: 11px;
}
table td {
	border: solid 1px #f0f1f2;
}
table tr th:last-child {
	width: 15%;
}
table tr th:nth-child(1) {
	width: 50%;
}
